h1 {color: darkred;
}
h2 {color: rgb(62, 62, 65);
}
h3 {color: darkslategray;
}
h4 {color: darkslategray;
}
#img1 {width: 35%;
}
#img2 {width: 35%;
}
h1 {font-size: 250%;
}
h2 {font-size: 200%;
}
h3 {font-size: 200%;
}
h4 {font-size: 200%;
}
h1 {text-align: center;
}
h2 {text-align: center;
}
#img1 {margin-left: 32%;
}
#img2 {margin-left:32% ;
}
